*{
    margin: 0;
    padding: 0;
    direction: rtl;
}
.navbar{
    position: sticky;
    width: 100%;
}
.image img{
    height: 500px;
    width: 500px;
    margin: 40px;
}
.font{
    display: flex;
    justify-content: space-between;
    height:max-content;
}
.text{
    padding: 50px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 40%;
}
.tittle{
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
}
p{
    width: 80%;
    font-size: 35px;
    color: white;
    text-justify: inter-word;
    text-align: center;
    margin-top: 15px;
}
li a{
    font-size: 18px;
    color: white;
    font-weight: 500;
}

.desc{
    font-size: 20px;
    font-weight: 800;
    padding: 8px;
    border-radius: 8px;
    border: none;
    color: #0d6efd;
    background-color: white;   
    text-align: center;
    transition: background-color 2s;
    width: 200px;
}
button:hover{
    background-color: #0956c9;
    color: white;
}
.groupes{
    height: 100vh;
}
.grps{
    width: min-content;
    color: #0956c9;
    padding: 20px;
    border-bottom: solid #0956c9 2px;
    margin: 20px;
    font-size: 50px;
    font-weight: bold;
    display: block;
}
.content{
    height: 70vh;
    margin: 20px;
    display: flex;
    align-items: center;
}
.table{
    text-align: center;
   
    box-shadow: rgba(0, 0, 0, 0.6) 7px 5px 4px;

}
.match{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    border-radius: 18px;
    margin: 20px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.6) 7px 5px 4px;
   
}
.match div:nth-child(2){
    font-size: 10px;
    font-weight: 800;
    color: #0956c9;
}
.VS{
    font-size: 25px;
    font-family: serif;
}
.parent-match{
    display: flex;
    justify-content: center;
}
.navigation_bar{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
}
ul li a{
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}
.spanbar{
    display: none;
}